# --- System ---
.DS_Store
Thumbs.db

# --- Python (Backend) ---
venv/
__pycache__/
*.py[cod]
db.sqlite3
.env
backend/.env

# --- Node (Frontend) ---
node_modules/
.next/
npm-debug.log
frontend/.env.local
frontend/.env